@{
    ViewBag.Title = "Về chúng tôi";
}
<main style="padding: 100px;" aria-labelledby="title">
    <h2 style="text-align:center;" id="title">@ViewBag.Title.</h2>


    <p style="text-indent: 50px;">
        Chào mừng đến với trang web quản lý công việc dành cho nhóm sinh viên năm 3! Đây là một nền tảng mạnh mẽ được thiết kế đặc biệt để giúp bạn và nhóm của bạn quản lý dễ dàng các nhiệm vụ, ghi chú và sổ tay liên quan đến đồ án của mình.

        Với chức năng ghi chú, bạn có thể tạo và lưu trữ các ghi chú quan trọng, ý tưởng hay thông tin cần thiết trong quá trình làm việc. Bất kỳ khi nào bạn có một ý tưởng mới hoặc cần ghi lại một thông tin quan trọng, chỉ cần truy cập vào trang ghi chú và nhập nội dung vào. Ghi chú sẽ được lưu trữ an toàn và bạn có thể truy cập lại chúng bất cứ lúc nào.




    </p>
</main>